tensorflow==2.16.1
# tensorflow-estimator==2.15.0
# tensorflow-io-gcs-filesystem==0.31.0
numpy==1.26.4
mediapipe==0.10.14
opencv-python==4.10.0.82
moviepy==1.0.3
# scikit-learn==1.4.1.post1
# kaggle==1.6.14
google-cloud-storage==2.16.0
starlette==0.49.1
uvicorn==0.30.1
pydantic==2.7.1
fastapi==0.111.0
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.15 # not directly required, pinned by Snyk to avoid a vulnerability